@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .page-heading {
    @apply font-bold text-4xl md:text-5xl  text-slate-800 dark:text-white w-fit p-3 m-auto;
  }

  .page {
    @apply min-h-screen w-full;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
